<div class="container">
  <div class="wrapper">
    <div class="header">
      <div class="logo"><img src="./assets/logo.svg" alt="logo" /></div>
      <ul class="link">
        <li class="link__item"><a href="#">Pricing</a></li>
        <li class="link__item"><a href="#">Product</a></li>
        <li class="link__item"><a href="#">About Us</a></li>
        <li class="link__item"><a href="#">Coreers</a></li>
        <li class="link__item"><a href="#">Community</a></li>
      </ul>
      <button class="btn-started">Get Started</button>
      <button class="hamburger-btn" (click)="toggleHambuger()">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </button>
      <div class="modal-menu" *ngIf="toggleMenu">
        <ul class="link">
          <li class="link__item"><a href="#">Pricing</a></li>
          <li class="link__item"><a href="#">Product</a></li>
          <li class="link__item"><a href="#">About Us</a></li>
          <li class="link__item"><a href="#">Coreers</a></li>
          <li class="link__item"><a href="#">Community</a></li>
        </ul>
      </div>
    </div>
    <div class="section1">
      <div class="left">
        <h2 class="title">Bring everyone together to build better products.</h2>
        <p class="text">
          Manage makes it simple for software teams to plan day-to-day tasks
          while keeping the larger team goals in view.
        </p>
        <button class="btn-started">Get Started</button>
      </div>
      <div class="right">
        <img src="./assets/illustration-intro.svg" alt="" />
      </div>
    </div>
    <div class="section2">
      <div class="left">
        <h3 class="title">What’s different about Manage?</h3>
        <p class="text">
          Manage provides all the functionality your team needs, without the
          complexity. Our software is tailor-made for modern digital product
          teams.
        </p>
      </div>
      <ul class="right">
        <li class="right__item">
          <button class="badge">01</button>
          <span class="text-group">
            <span class=" badge-title"
              ><button class="badge badge--mobile">01</button
              ><span class="title">Track company-wide progress</span></span
            >
            <span class="text"
              >See how your day-to-day tasks fit into the wider vision. Go from
              tracking progress at the milestone level all the way done to the
              smallest of details. Never lose sight of the bigger picture
              again.</span
            >
          </span>
        </li>
        <li class="right__item">
          <button class="badge">02</button>
          <span class="text-group">
            <span class="badge-title"
              ><button class="badge badge--mobile">02</button
              ><span class="title">Advanced built-in reports</span>
            </span>
            <span class="text"
              >Set internal delivery estimates and track progress toward company
              goals. Our customisable dashboard helps you build out the reports
              you need to keep key stakeholders informed.</span
            >
          </span>
        </li>
        <li class="right__item">
          <button class="badge">03</button>
          <span class="text-group">
            <span class="badge-title"
              ><button class="badge badge--mobile">03</button
              ><span class="title">Everything you need in one place</span>
            </span>
            <span class="text"
              >Stop jumping from one service to another to communicate, store
              files, track tasks and share documents. Manage offers an
              all-in-one team productivity solution.</span
            >
          </span>
        </li>
      </ul>
    </div>
  </div>
  <div class="section3">
    <h2 class="title">What they’ve said</h2>
    <div class="testimonials">
      <div class="card" *ngFor="let testimonial of testimonialList">
        <img [src]="testimonial.img" alt="" />
        <h3 class="name">{{ testimonial.name }}</h3>
        <p class="comment">{{ testimonial.comment }}</p>
      </div>
    </div>
    <button class="btn-started">Get Started</button>
  </div>
  <div class="footer">
    <div class="section4">
      <div class="content">
        <h1>Simplify how your team works today.</h1>
        <button class="btn-started btn-started--white">Get Started</button>
        <div class="rect1"></div>
        <div class="rect2"></div>
      </div>
    </div>
    <div class="section5">
      <div class="content">
        <div class="copy">Copyright 2020. All Rights Reserved</div>
        <div class="logo">
          <img src="./assets/darkLogo.svg" alt="" />
          <ul class="socials">
            <li class="social" *ngFor="let social of socialsIcon">
              <a href="#"><i [class]="social"></i></a>
            </li>
          </ul>
        </div>
        <div class="link-group">
          <ul class="left">
            <li class="item" *ngFor="let link of linksLeft">
              <a href="">{{ link }}</a>
            </li>
          </ul>
          <ul class="right">
            <li class="item" *ngFor="let link of linksRight">
              <a href="">{{ link }}</a>
            </li>
          </ul>
        </div>
        <div class="search">
          <div class="top">
            <input type="text" placeholder="Updates in your inbox…" />
            <button>Go</button>
          </div>
          <div class="copy bottom">Copyright 2020. All Rights Reserved</div>
        </div>
      </div>
    </div>
  </div>
</div>
